.bottom-bar, .menu-bar
{
	-fx-background-color: #E5ECE9;
	-fx-opacity: 0.85;
}

.bottom-bar .label
{
	-fx-text-alignment: center;
	-fx-background-color: #68686880;
	-fx-font-family: Courier;
	-fx-graphic-text-gap: 1em;
	-fx-label-padding: 0.2em;
}

.menu-bar .label
{
	-fx-text-alignment: center;
	/* -fx-background-color: #686868;
	-fx-opacity: 0.9; */
	-fx-font-family: Courier;
}